.article {
    .title {
        font-size: 25px;
        font-weight: 700;
        margin: 15px 20px;
    }
    .divide2{
        background-color: #F4F4F4;
        height: 20px;
    }
    .content{
        padding: 0px 15px;
    }
}